.scene {
  flex: 1;
  aspect-ratio: 4 / 5;
  width: 100%;
  max-width: 280px;
  perspective: 1200px;

  --3d-depth: -30px;
}

.graphic {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  transition: none;
}
.graphic.returning {
  transition: transform 0.2s ease;
}

/* Glow */

.glow {
  position: absolute;

  width: 80%;
  height: 80%;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%) translateZ(-100px);

  border-radius: 50%;

  background: hsl(var(--clr-primary) / 0.3);

  filter: blur(80px);

  pointer-events: none;
}

/* Shared styles */

.layer,
.card {
  position: absolute;

  inset: 0;

  border-radius: 2rem;
}

/* Layers */

.layer-1 {
  background: hsl(from var(--clr-primary) h s l / 0.25);

  /* transform: translate3d(10px, 10px, var(--3d-depth)); */
  transform: translate3d(0px, 0px, calc(var(--3d-depth) / 2));
}

.layer-2 {
  background: hsl(from var(--clr-primary) h s l / 0.18);

  /* transform: translate3d(20px, 20px, calc(var(--3d-depth) * 2)); */
  transform: translate3d(0px, 0px, calc(var(--3d-depth) * 2));
}

.layer-3 {
  background: hsl(from var(--clr-primary) h s l / 0.12);

  /* transform: translate3d(28px, 28px, calc(var(--3d-depth) * 3)); */
  transform: translate3d(0px, 0px, calc(var(--3d-depth) * 3));
}

.layer-4 {
  background: hsl(from var(--clr-primary) h s l / 0.08);

  /* transform: translate3d(36px, 36px, calc(var(--3d-depth) * 4)); */
  transform: translate3d(0px, 0px, calc(var(--3d-depth) * 4));
}

/* Front card */

.card {
  background: var(--clr-bg-card);
  padding: 3rem 2rem 2rem 2rem;
  border: 1px solid hsl(from var(--clr-border) h s l / 0.08);

  backdrop-filter: blur(10px);
  inset: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;

  transform: translateZ(20px);

  box-shadow:
    0 40px 80px rgba(0, 0, 0, 0.5),
    0 0 40px rgba(155, 92, 255, 0.15);
}
.card:before {
  border-radius: inherit;
  border: 1px solid hsl(from var(--clr-border) h s l / 0.05);

  margin: 3rem 1rem 1rem 1rem;
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(from var(--clr-gray-dark) h s l / 0.6);
}

.card:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 1rem;
  aspect-ratio: 1/1;
  background: hsl(from var(--clr-danger) h s l / 0.8);
  top: 1rem;
  left: 1.5rem;
  box-shadow:
    1.5rem 0 0 0 hsl(from var(--clr-warning) h s l / 0.8),
    3rem 0 0 0 hsl(from var(--clr-success) h s l / 0.7);
}

/* Icons */

.card svg {
  color: var(--clr-primary);
  filter: drop-shadow(0 0 20px hsl(from var(--clr-primary) h s l / 0.5));
}

.card svg:nth-of-type(2),
.card svg:nth-of-type(3) {
  color: var(--clr-gray);
  filter: drop-shadow(0 0 20px hsl(from var(--clr-gray-light) h s l / 0.2));
}

/* Responsivity */

@media (max-width: 900px) {
  .scene {
    /* max-width: 200px; */
    display: none;
  }
}

/* @media (max-width: 480px) {
  .scene {
  }
} */
