.hero {
  min-height: 100vh;

  display: flex;
  align-items: center;

  padding: 5rem;
}

.hero-content {
  width: min(1100px, 100%);
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.hero-text {
  flex: 2;
}

.hero-text h1 {
  font-size: clamp(var(--fs-2xl), 8vw, var(--fs-3xl));
}

.hero-text span {
  color: var(--clr-primary);
  text-shadow: var(--shadow-glow);
}

.hero-text p {
  color: var(--clr-text-muted);
  max-width: 600px;
}

@media (max-width: 900px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }
}
